@font-face {
  font-family: neuehaasmedium;
  src: url(../fonts/NeueHaasDisplayMediu.ttf);
}

@font-face {
  font-family: neuehaasroman;
  src: url(../fonts/NeueHaasDisplayRoman.ttf);
}

:root {
  --primary-dark: #0b0500;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 2px solid blue; */
}

body {
  /* width: 100vw; */
  background-color: #efeae3;
  font-family: neuehaasmedium, system-ui;
  font-size: calc(0.5357142857142858vw + 0.5178571428571429em);
  overflow-x: hidden;
  
  isolation: isolate;
  /* border: 2px solid red; */
}

.hide-body {
  overflow: hidden;
}

.container {
  width: 100%;
  margin: auto;
  padding: 0 2em;
  overflow-x: hidden;
  /* border: 1px solid red; */
  /* height: 200px; */
}

.custom-cursor {
  width: 100px;
  aspect-ratio: 1;
  position: fixed;
  z-index: 999999;
  pointer-events: none;
  background-color: #fe330a;
  border-radius: 50%;
  translate: -50% -50%;
  transform: scale(0);
  transition: transform 300ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  font-size: 1.5rem;
  color: #efeae3;
  font-family: neuehaasroman;
  font-weight: 400;
}

.show-cursor {
  transform: scale(1);
}


.logo {
  width: 10em;
  display: block;
  text-decoration: none;
  /* border: 1px solid blue; */
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.top-nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 2em 2em 0em 2em;
  align-items: center;
}

.top-nav {
  list-style: none;
  display: flex;
  gap: 0.5rem;
}

.nav-link {
  padding: 0.625em 1.5em;
  font-size: 1em;
  line-height: 1.4;
  font-family: neuehaasroman;
  text-decoration: none;
  display: inline-block;
  border: 1px solid rgba(11, 5, 0, 0.2);
  color: var(--primary-dark);
  border-radius: 500px;
  position: relative;
  overflow: hidden;
  transition: color;
  transition-duration: 250ms;
  transition-timing-function: ease-in;
}

.nav-link::after {
  content: "";
  width: 100%;
  aspect-ratio: 1;
  /* height: 100%; */
  position: absolute;
  background-color: var(--primary-dark);
  left: 0;
  bottom: 0;
  transform: translateY(110%);
  border-radius: 50%;
  transition: transform, border-radius;
  transition-duration: 250ms;
  transition-timing-function: ease-in;
  z-index: -1;
}

.nav-link:hover {
  color: white;
}

.nav-link:hover::after {
  transform: translateY(0);
  border-radius: 0;
}

/* Hero  */

.hero {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  letter-spacing: -0.03em;
  margin-top: 9.625em;
  padding-bottom: 3.75em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.hero-left {
  max-width: 23em;
}

.hero-left-heading {
  font-size: 1.75em;
  line-height: 1;
  font-weight: 500;
  letter-spacing: -.03em;
}

.hero-right {
  margin-right: 1.25em;
}

.hero-right-heading {
  font-size: 10em;
  line-height: 0.8;
  text-transform: uppercase;
  text-align: right;
  font-weight: 500;
}

.hero-shapes {
  width: 54em;
  height: 58em;
  /* border: 2px solid green; */
  position: absolute;
  top: 20em;
  right: 0;
  z-index: 2;
  overflow: hidden;
}

.hero-shape-1 {
  width: 35em;
  height: 38em;
  background-color: #fe330a;
  position: absolute;
  top: 18em;
  right: 10em;
  /* left: 8em; */
  animation: shape-1 3s linear infinite alternate;
  filter: blur(15px);
  border-radius: 10000px;
}

@keyframes shape-1 {
  from {
    transform: rotate(-45deg) translate(2%, 2%);
  }

  to {
    transform: rotate(-90deg) translate(-5%, -5%);
  }
}

.hero-shape-2 {
  width: 34em;
  height: 36em;
  /* background-color: blue; */
  position: absolute;
  top: 22em;
  /* left: 15em; */
  right: 8em;
  animation: shape-2 3s linear infinite alternate;
  border-radius: 1000px;
  background-color: #fe330a;
  filter: blur(20px);
  background-image: linear-gradient(220deg, #ff5a31, #fe330a);
}

@keyframes shape-2 {
  from {
    transform: rotate(-45deg) translate(-6%, -4%);
  }

  to {
    transform: rotate(-90deg) translate(10%, 2%);
  }
}

.hero-shape-3 {
  width: 34em;
  height: 45em;
  /* background-color: blue; */
  position: absolute;
  top: 15em;
  /* left: 15em; */
  right: 10em;
  animation: shape-3 4s linear infinite alternate;
  border-radius: 1000px;
  background-color: #fe330a;
  background-image: linear-gradient(220deg, #ff5a31, #fe330a);
  filter: blur(20px);
}

@keyframes shape-3 {
  from {
    transform: rotate(90deg) translate(2%, -6%);
  }

  to {
    transform: translate(15%, 2%);
  }
}

/* Video */

.hero-video {
  border-radius: 1.25em;
  overflow: hidden;
  margin-top: 3.75em;
  position: relative;
  z-index: 10;
  min-height: 25rem;
  /* outline: 2px solid lime; */
  width: 100%;
}

.hero-video video {
  width: 100%;
  height: 100%;
  min-height: 25rem;
  object-fit: cover;
  display: block;
}

/* Text animation Kevin Powell */

.kp-scroller {
  /* border: 2px solid red;S */
  /* height: 200px; */
  margin-top: 6.25em;
  overflow: hidden;
}

.kp-scroller-inner {
  display: flex;
  width: max-content;
  align-items: center;
  gap: 1.75em;
  animation: slider 16s linear infinite;
}

.kp-scroller-inner h2 {
  font-size: 8.75em;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.circle {
  width: 3.75em;
  height: 3.75em;
  background-color: #fe330a;
  border-radius: 50%;
}

@keyframes slider {
  to {
    transform: translateX(calc(-50% - 0.875em));
  }
}

.blob-section {
  /* border: 2px solid red; */
  margin-top: 8.75em;
  position: relative;
}

.blob-content-wrapper {
  display: flex;
  padding: 0 5.625em;
  justify-content: space-between;
  align-items: flex-start;
}
.blob-heading {
  font-size: 4.25em;
  color: #0b0500;
  line-height: 1;
  max-width: 50em;
  width: 60%;
  letter-spacing: -0.03em;
}

.blob-right-content {
  width: 25%;
  max-width: 18em;
  margin-top: 8.75em;
}

.blob-section-img {
  display: block;
  border-radius: 0.5em;
  max-width: 100%;
}

.blob-content-text {
  font-size: 1em;
  margin-top: 3em;
  line-height: 1.4;
  color: #0b0500;
  font-family: neuehaasroman, system-ui;
}

.blob {
  width: 34em;
  height: 34em;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  left: 40%;
  translate: -50% 30%;
  z-index: -1;
  top: 0;
 
}

.blob-front {
  width: 32em;
  height: 32em;
  filter: blur(10px);
  background-color: #ff9831;
  animation: blob-orange 4s ease-in-out infinite alternate;
}

.blob-back {
  filter: blur(60px);
  background-color: #fe330a;
  animation: blob-red 4s ease-in-out infinite alternate;
}

@keyframes blob-orange {
  from {
    transform: translate(10, -10) skewX(0deg);
  }

  to {
    transform: translate(-10%, 10%) skewX(-10deg);
  }
}

@keyframes blob-red {
  from {
    transform: translate(10, -10);
  }

  to {
    transform: translate(-10%, 10%);
  }
}

/* Featured Section */

.featured-section {
  /* border: 0.25em solid lime; */
  margin-top: 8.75em;
}

.featured-header {
  display: flex;
  gap: 0.5em;
  align-items: center;
  margin: 0 2em;
  padding-bottom: 3.75em;
}

.red-dot {
  background-color: #fe330a;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
}

.featured-heading {
  letter-spacing: 0.02em;
  text-transform: uppercase;
  font-family: neuehaasroman, system-ui;
  line-height: 1.2;
  font-size: 0.875em;
  font-weight: 400;
}

.featured-list-wrapper {
  list-style: none;
  /* border: 1px solid blue; */
  /* padding: 5em; */
}

.featured-list {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.featured-link ,
.featured-link-column{
  /* display: block; */
  padding: 1.75em 2em;
  text-decoration: none;
  color: #0b0500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* outline: 1px solid red; */
  position: relative;
  overflow: hidden;
  isolation: isolate;
}


.featured-link::after {
  content: "";
  inset: 0;
  background-color: #ff9831;
  transform: translateY(-101%);
  position: absolute;
  z-index: -1;
  transition: transform 150ms ease-in-out;
}

.featured-link:hover::after {
  transform: translateY(0);
}

.featured-name {
  font-size: 3.25em;
  letter-spacing: -0.03em;
  line-height: 1.2;
  font-weight: 500;
}

.featured-info {
  font-weight: 400;
  font-family: neuehaasroman, system-ui;
}

.featured-info-name {
  font-size: 0.875em;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 1.2;
  text-align: right;
}

.featured-info-category {
  font-size: 0.875em;
  color: rgba(0, 0, 0, 0.4);
  line-height: 1.3;
  text-transform: capitalize;
}

.fixed-hover-container {
  width: 25%;
  /* height: 300px; */
  /* border: 2px solid red; */
  display: none;
  aspect-ratio: 2/2.5;
  position: fixed;
  z-index: 200;
  border-radius: 1rem;
  overflow: hidden;
  left: 50%;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.fixed-hover-container > * {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}


#nav-hamburger {
  display: none;
  align-items: center;
  gap: 0.5rem;
  position: relative;
  z-index: 200;
}

.nav-icon {
  display: grid;
  gap: 0.25rem;

}

.nav-icon > span {
  display: block;
  height: 1px;
  width: 1.25rem;
  background-color: rgba(11, 5, 0, 0.67);
  transition: transform 250ms ease-in-out;
}

.nav-link:hover .nav-icon > span {
 
  background-color: white;
}


.featured-link-img-wrapper {
  display: none;
  aspect-ratio: 4/5;
  overflow: hidden;
  border-radius: 1rem;
  margin-bottom: 1.75rem;
  
  /* border: 1px solid red; */
}

.featured-link-img-wrapper > * {
  width: 100%;
  height: 100% ;
  aspect-ratio: 4/5;
  display: block;
  object-fit: cover;
  object-position: center;
}


.hero-shapes-wrapper {
  overflow: hidden;
  z-index: -10;
  /* border: 2px solid blue; */
  width: 100vw;
 min-height: 200vh;
 top: 0;
 left: 0;
 right: 0;
 
 position: absolute;
}

.blob-wrapper {
  /* border: 2px solid blue; */
  height: 200vh;
  position: absolute;
  width: 100vw;
  top: 0;
  overflow-x: clip;
  z-index: -10;
}

.nav-link-icon {
  margin-left: 0.75rem;
}

.all-projects-btn{
  margin-top: 3.75em;
  padding: 0 2em;

}


.services-section {
  margin-top: 8.75em;
}

.services-wrapper {
  display: flex;
  border-radius: 1.25em;
  overflow: hidden;
  background-color: var(--primary-dark);
}

.services-content {
  width: 45%;
  padding: 0 1.25em;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.services-content-menu {
  margin-bottom: 2.5em;
}

.services-link {
  color: #efeae3;
  max-width: 20.75em;
  font-size: 4.25em;
  font-weight: 500;
  text-decoration: none;
  display: block;
  line-height: 1;
  border-left: 3px solid rgba(239,234,227,.8);
  padding-left: 1rem;
  opacity: 0.3;
}

.services-link-active {
  opacity: 1;
  border-left: 3px solid #fe330a;
}

.services-content-text {
  font-size: 1em;
  line-height: 1.4;
  font-weight: 400;
  font-family: neuehaasroman;
  max-width: 20.75em;
  color: #efeae3;
  will-change: contents;
}

.services-image-wrapper {
  width: 55%;
  height: 110vh;
  min-height: 20rem;
  /* border: 2px solid red; */
  border-radius: 1.25em;
  overflow: hidden;
}

.services-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  will-change: contents;
}

#page-cover {
 position: fixed;
 inset: 0;
 background-color: rgb(0, 0, 0);
 overflow: hidden;
 z-index: 9999;
 /* pointer-events: none; */
 display: flex;
 justify-content: center;
 align-items: center;
 user-select: none;
  
}

.page-cover-text {
  font-size: 4em;
  font-weight: 500;
  line-height: 1;
  background-image: linear-gradient(
    200deg,
#fe330a,
#ff9831);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.page-cover-animation {
  animation: pageCover 500ms ease-in-out  forwards;
}

@keyframes pageCover {
  0%{
    transform: translateY(0);
  }
  
  90%{
    transform: translateY(-100%);
    
  }

  100%{
    transform: translateY(-100%);
    display: none;
  }

}

.empty-space {
  height: 100vh;
  position: relative;
  z-index: -2;
}

footer {
  background-color: #0b0500;
  position: fixed;
  height: 100vh;
  right: 0;
  width: 100%;
  z-index: -1;
  bottom: 0;
  left: 0;
  pointer-events: all;
  overflow: hidden;
  display: grid;
  align-items: end;
}

.footer-upper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 5.625em;
  margin-top: 6.5em;
  gap: 2em;
}

.footer-links-wrapper {
  display: grid;
  gap: 0.5em;
  list-style: none;
}

.footer-link {
    color: #efeae3;
    letter-spacing: -.03em;
    font-size: 2em;
    font-weight: 500;
    line-height: 1;
    text-decoration: none;
    transition: opacity 0.2s;
}

.footer-link:hover {
  opacity: 0.7;
}

.footer-form-wrapper {
  max-width: 20em;
  display: grid;
  gap: 1.75em;
  width: 100%;
  
}

.footer-form-title {
  font-size: 1.25em;
  line-height: 1.3;
  font-weight: 400;
  font-family: neuehaasroman;
  color: #efeae3;
  max-width: 20em;
}


.footer-form {
  display: flex;
  border-bottom: 1px solid rgba(239,234,227,.3);
  align-items: center;
  width: 100%;
}

.footer-form > * {
  background-color: transparent;
  border: none;
  outline: none;
  color: #efeae3;
  font-size: 1em;
  line-height: 1.4;
  font-family: neuehaasroman;
  font-weight: 400;
  padding: 1em 0;
}

.footer-form input {
  display: block;
  width: 100%;
}

.footer-form input::placeholder {
  color: rgba(239,234,227,.3);
}


.footer-img-wrapper {
  margin-top: 6.25em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 2em;
  width: 100%;
}

.footer-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 100%;
}

.footer-line {
  border: none;
  height: 1px;
    background-color: rgba(239,234,227,.3);
    margin-top: 2.5em;
}

.footer-last-wrapper {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 1.75rem 0;
  font-family: neuehaasroman;;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.4;
    color: #efeae3;
  
}

.footer-last-wrapper > * {
  font: inherit;
}

.footer-last-link {
  text-decoration: none;
  color: inherit;
  position: relative;
}

.footer-last-link::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #efeae3;
  width: 100%;
  top: 110%;
  left: 0;
  transform: scaleX(0);
  transition: transform 250ms linear;
  transform-origin: right;
}

.footer-last-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}


.footer-last-icon {
  display: flex;
  gap: 0.5em;
  align-items: center;

}

.footer-last-icon > span {
  font-size: 1.25em;
}

#main-wrapper {
  background-color: #efeae3;
  width: 100vw;
  isolation: isolate;
  /* border: 1px solid blue; */
  overflow: hidden;
}


.footer-shapes {
  pointer-events: none;
  width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: -10;
  height: 100vh;
}

.footer-shape-1 {
  height: 250px;
  background-color: #fe330a;
  background-image: linear-gradient(
    to right,
    #fe330a,
    #ff5a31
  );
  filter: blur(40px);
  transform: translateY(-10%);
}

.footer-shape-2,
.footer-shape-3 {
  width: 1400px;
  height: 400px;
  background-color: #fe330a;
  position: absolute;
  top: 0;
  translate: -50% 0;
  filter: blur(40px);
 
}


.footer-shape-2 {
  left: 0;
  background-image: linear-gradient(
    to left,
    #fe330a,
    #ff5a31
  );
  animation: footer-shape-2 4s linear infinite alternate  ;
}
@keyframes footer-shape-2 {
  from {
    rotate: -30deg;
    transform: translateY(0);
  }
  
  to {
    rotate: -15deg;
    transform: translateY(-20%);
  }
}


.footer-shape-3 {
  height: 500px;
  width: 1700px;
  background-image: linear-gradient(
    to right,
    #fe330a,
    #ff5a31
  );
  left: 100%;
  
  animation: footer-shape-3 4s linear infinite alternate  ;
}
@keyframes footer-shape-3 {
  from {
    rotate: 35deg;
    transform: translateY(0);
  }
  
  to {
    rotate: 20deg;
    transform: translateY(-10%);
  }
}




/* Swiper */

.swiper-section {
  margin: 8.75rem 0;
  width: 100vw;
}

.swiper-container {
  /* outline: 2px solid blue; */
  cursor: none;
  user-select: none;
}

.swiper-header {
  margin: 0 5.625em;
  padding-bottom: 5em;
}

.swiper {
  width: 100%;
  height: 100%;
  padding: 0 5.625rem;
}


.swiper-slide {
  width: 100%;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  padding-left: 1.5em;
  display: grid;
  gap: 1.5em;
  /* max-width: 18.125rem;
  min-width: 12rem;
  margin-right: clamp(6rem , 10vw , 12rem) !important; */
}

.swiper-text {
  color: #0b0500;
  font-family: neuehaasroman;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.4;

}

.swiper-img-wrapper {
  width: clamp(8em , 20vw , 10em)
}

.swiper-img-wrapper img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*Dropdown menu*/

.dropdown {
  display: none;
  will-change: transform;
  scrollbar-gutter: stable both-edges;
  /* border: 2px solid blue; */
}



.dropdown-menu {
  list-style: none;
  padding-top: 9.75em;
  padding-bottom: 3.75em;
  border-bottom-right-radius: 1.875em;
  border-bottom-left-radius: 1.875em;
  background-color: #efeae3;
  position: fixed;

  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
}

.dropdown-backdrop{
  /* left: 0;
  position: absolute;
  width: 100vw;
  top: 0;
  height: 100vh; */
  position: fixed;
  inset: 0;
  z-index: 90;
  background-color: rgba(0, 0, 0, 0.4);
}

.dropdown-link {
    color: #0b0500;
    letter-spacing: -.03em;
    text-transform: uppercase;
    display: block;
    text-align: right;
    font-size: 6em;
    font-weight: 500;
    line-height: 1.1;
    text-decoration: none;
    padding-right: 2rem;
}


.spin-top {
  transform: 
  translateY(0.175rem)
  rotate(45deg);
}

.spin-bottom {
  transform: 
  translateY(-0.175rem)
  rotate(-45deg);
}
/* Media queries  */

/* 992  */
@media screen  and (max-width : 992px){
  .empty-space {
    height: 95svh;
    
  }
  
.page-cover-text {
  font-size: 2.75rem;
}

  .page-cover-text {
    font-size: 2.75;
  }
  .all-projects-btn {
    margin-top: 1em;
    
  }

  body {
    font-size: 0.875em;
  }



  .hero-right-heading {
    font-size: 8em;
  }
  
  .hero-left-heading {
    font-size: 1.5em;
  }

  .kp-scroller-inner h2 {
    font-size: 6em;
  }

  .blob-content-wrapper {
    padding: 0 3.25em;
  }

  .blob-heading {
    font-size: 3.5em;
  }

  .featured-list-wrapper {
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 3em 2em;
    padding: 2em;
  }

  .featured-list {
    border-bottom: none;
  }

  .featured-link-column {
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
    padding: 0;
   
  }

  .featured-link-img-wrapper {
    display: block;
  }

  .featured-info-name {
    text-align: left;
  }

  .featured-header {
    padding-bottom: 0.5em;
  }

  .featured-name {
    font-size: 2.5em;
  }

  .services-link {
   font-size: 3.5em;
  }

  .swiper-section {
    margin: 6.45em 0;
   
  }

  .swiper-header {
    margin: 0 4.5em;
    padding-bottom: 5em;
  }

  .swiper {
    padding: 0 4.5rem;
  }
  
}


/* 800 */
@media screen  and (max-width : 800px){

  .empty-space {
    height: 90svh;
    
  }
  .page-cover-text {
    font-size: 2.25rem;
  }
  .footer-upper {
    padding-left: 3em;
    padding-right: 4.5em;
    margin-top: 6.5em;
  }
  .footer-links-wrapper {
    
    gap: 0.75em;
    
  }
  .page-cover-text {
    font-size: 2.25;
  }
  .hero {
    flex-direction: column-reverse;
    align-items: stretch;
    gap: 4em;
    margin-top: 8em;
  }

  .hero-right {
    margin-right: 0em;
  }
  

  .hero-right-heading {
    font-size: 7em;
  }

  .hero-shapes {
    top: 22em;
    right: -4em;
  }
  .hero-shape-1 {
    width: 20em;
    height: 36em;
    
  }

  .hero-shape-2 {
    width: 20em ;
    height: 20em;
    
  }

  .hero-shape-3 {
    width: 20em ;
    height: 30em;
    
  }

  .all-projects-btn > .nav-link {
    display: inline-block;
  }
  

  .nav-link {
    display: none;
  }

  #nav-hamburger {
    display: flex;
  }

  .dropdown {
    display: block;
    position: absolute;
    inset: 0;
    /* border: 2px solid red; */
    transition: transform 400ms ease-in-out;
  }

  .dropdown-hidden{
    transform: translateY(-120%);
  }
  

  .kp-scroller-inner h2 {
    font-size: 4em;
  }

  .blob-content-wrapper {
    flex-direction: column;
    align-items: stretch;
    padding: 0 2em;
  }

  .blob-heading {
    font-size: 2.5em;
    width: 100%;
  }

  .blob-right-content {
    width: 100%;
    max-width: 22rem;
  }

  .blob {
    top: -10rem;
    left: 70%;
  }

  .featured-list-wrapper {
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 3em 1em;
    padding: 2em;
  }
  .featured-name {
    font-size: 2em;
  }

  .services-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2.5em;
  }

  .services-content {
    width: 100%;
    margin-top: 3.75em;
  }

  .services-content-text {
    margin-bottom: 2.5rem;
  }

  .services-image-wrapper {
    width: 100%;
    aspect-ratio: 1;
    height: auto;
  }

  

  .services-link {
    font-size: 3em;
   }


   .swiper-header {
    margin: 0 2em;
  }

  .swiper {
    padding: 0 2rem;
  }

}

@media screen  and (max-width : 480px){



  .footer-form-wrapper {
    max-width: 100%;
  }
  .footer-upper {
   
    padding: 0 1.25em;
   
  }
  
.footer-img-wrapper {
  margin-top: 2em;
  padding: 0 1.25em;
}

  .footer-upper {
   flex-direction: column;
  }
  .all-projects-btn {
    
    padding: 0 1.25em;
  }
  .top-nav-wrapper {
    
    padding: 2em 1.25em 0em 1.25em;
    
  }
  .container {
    
    padding: 0 1.25em;
  }
  .hero {
    margin-top: 5.875em 
  }
  .hero-right-heading {
    font-size: 4.5em;
  }

  .hero-video {
    min-height: 28rem;
  }

  .hero-video video {
    min-height: 28rem;
  }

  .hero-shapes {
    top: 16em;
    right: -10em
  }

  .kp-scroller-inner h2 {
    font-size: 3.75em;
  }

  .blob-heading {
    font-size: 2.25em;

  }

  .blob-right-content {
    width: 100%;
    max-width: 18rem;
  }

  .blob-content-wrapper {
   padding: 0 1.25em;
  }

  .blob {
    top: -5rem;
    left: 70%;
  }

  .featured-list-wrapper {
    
    grid-template-columns: 1fr;
    gap: 3em;
    padding: 1.25em;
  }

  .swiper-section {
    margin: 5em 0;
   
  }

  .swiper-header {
    margin: 0 1.25em;
  }

  .swiper {
    padding: 0 1.25rem;
  }

  .dropdown-link {
    font-size: 3em;
  }

}